* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#672280, #a626d3);
  color: rgb(255, 255, 255);
  padding: 10px 35px;
  margin: 40px;
}
.logoText {
  display: flex;
  margin-left: 1px;
}
.title {
  font-size: 21px;
  font-weight: bold;
  margin: 5px;
}
.subtitle {
  font-size: 12px;
}
.troll {
  width: 40px;
  height: 40px;
}
